<!-- Botón de WhatsApp -->
<a href="https://api.whatsapp.com/send?phone=%2B5212224560470&context=Afey0-7q_t0G3zxIbPefuXA5lPy0nBh4wXV1-SuVZP64LAdrP-995WIkjcgLlj1XSe6_jrAkyt4BSbXHPV2T1CskhxmtF_wRGcfku79UmWztCUr_QrdECC6ITKoaqyalXzNn40-oj75NWnQzi8VPaK34lA&source=FB_Page&app=facebook&entry_point=page_cta&fbclid=IwY2xjawJxSsZleHRuA2FlbQIxMAABHi-2KTWKRNUFI-sNzviepHV0LCc3h3LBYQDU1C0t8mM0jSZksa2drHyQOPUg_aem_weuOp0fH1mY4KAAgU_Og3w?text=Hola%20me%20gustaría%20obtener%20más%20información"
    class="whatsapp-float pulse" target="_blank" rel="noopener noreferrer" aria-label="Chatea con nosotros en WhatsApp"
    title="Envíanos un mensaje por WhatsApp">
    <span class="iconify whatsapp-icon" data-icon="ic:baseline-whatsapp"></span>
    <span class="whatsapp-tooltip">¿Necesitas ayuda?</span>
</a>